/* globaly used css starts here*/
* {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

.text-primary {
    color: #005FAC;
}

.btn-primary {
    color: #005FAC;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 10px 35px;
    margin-top: 10px;
    border-radius: 5px;
    background: #FFFFFF;
}

.btn-secondary {
    color: #FFFFFF;
    font-weight: 600;
    font-size: 16px;
    border: 0;
    padding: 8px 30px;
    border-radius: 5px;
    background: #005FAC;
}

/* css styles start for header banner area */
.header-banner {
    background-image: url(./assets/images/banner3.png);
    background-size: cover;
    background-position: center;
    height: 680px;
    width: 100%;
    display: flex;
    text-align: right;
    justify-content: end;
    align-items: center;
}

.header-banner-content {
    color: #FFFFFF;
    margin-right: 200px;
}

.header-banner-title,
.gradient-banner-title {
    font-size: 55px;
    font-weight: bold;
}

.header-banner-text {
    padding: 15px 0;
}

/* css styles end for header banner area */
/*----------------------**************************-------------------------*/
/* css styles start for main banner area */
.main-banner-content {
    margin: 100px auto;
    max-width: 1000px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.main-banner-img img {
    height: 500px;
}

.main-banner-text h2 {
    font-size: 35px;
}

.main-banner-text .details {
    margin: 20px 0;
    line-height: 18px;
    font-size: 14px;
}

div>p {
    font-size: 14px;
}

div>p>i {
    padding-right: 15px;
    color: #16D887;
}

/* css styles end for main banner area */
/*----------------------**************************-------------------------*/
/* css styles start for my plans area */
.plans-area {
    max-width: 1000px;
    margin: auto;
    border-radius: 10px;
    text-align: center;
}

.section-title {
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 50px;
}

.plans-area-info-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-img {
    height: 65px;
}

.plans-area .info-title {
    margin: 14px 0;
    font-size: 24px;
    font-weight: 900;
}

.info-description {
    font-size: 14px;
    color: grey;
}

/* css styles end for my plans area */
/*----------------------**************************-------------------------*/
/* css styles starts for gradient banner area */

.gradient-banner-content {
    background: linear-gradient(90deg, #005FAC, #18040475),
        url(./assets/images/watch.png);
    background-size: cover;
    background-position: center;
    max-width: 1000px;
    border-radius: 8px;
    margin: 100px auto;
    padding: 30px;
    color: #FFFFFF;
    height: 200px;
}

/* css styles end for my gradient banner area */
/*----------------------**************************-------------------------*/
/* css styles starts for footer area */
.footer-area {
    background-color: black;
    color: #FFFFFF;
}

.footer-content {
    max-width: 1000px;
    margin: auto;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-text>p {
    margin: 12px 0;
}

.footer-text>img {
    height: 33px;
    padding-right: 8px;
    margin-top: 5px;
}

.footer-input input {
    margin: 6px 0;
    padding: 10px 40px;
}

/* css styles ends for footer area */